Repository yoshiko-pg/difit: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, knip, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob:
        - '*.{ts,tsx}'
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'pnpm-lock.yaml'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
        - '.oxlintrc.json'
        - '.oxfmtrc.json'
      run: pnpm run check:fix
      stage_fixed: true
      fail_text: 'Static checks failed. Please fix the issues and try again.'

    format:
      glob:
        - '*.{ts,tsx,js,jsx,json,css}'
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - '.oxfmtrc.json'
      run: pnpm run format:fix
      stage_fixed: true
      fail_text: 'Oxfmt formatting failed. Please check the issues and try again.'

    knip:
      glob:
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - 'scripts/*.{js,mjs,cjs}'
        - 'scripts/**/*.{js,mjs,cjs}'
        - 'package.json'
        - 'pnpm-lock.yaml'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
        - 'vite.config.ts'
        - 'vitest.config.ts'
        - 'postcss.config.js'
        - 'knip.json'
      run: pnpm run knip
      fail_text: 'Knip detected unused files/exports/dependencies. Please fix the issues and try again.'

    test:
      glob:
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'vitest.config.ts'
      run: pnpm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    build:
      run: pnpm run build
      fail_text: 'Build failed. Please fix build errors before pushing.'

fix: harden working tree blob path handling
  src/server/git-diff.test.ts
  src/server/git-diff.ts
Due: check, format, knip, test

Add difit-review skill for shared and local review workflows (#274)
  .claude/skills/difit-review/SKILL.md
  .codex/skills/difit-dev/SKILL.md
  .codex/skills/difit-dev/agents/openai.yaml
  .codex/skills/difit-review/SKILL.md
  .codex/skills/difit-review/agents/openai.yaml
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  SKILL.md
  skills/difit-review/SKILL.md
  skills/difit-review/agents/openai.yaml
  skills/difit/SKILL.md
  skills/difit/agents/openai.yaml
Due: none

fix: preserve fenced code blocks in markdown diff preview
  src/client/viewers/MarkdownDiffViewer.test.tsx
  src/client/viewers/MarkdownDiffViewer.tsx
Due: check, format, knip, test

ci: set explicit workflow permissions
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Due: none

fix: preserve fenced code blocks in markdown diff preview (#275)
  src/client/viewers/MarkdownDiffViewer.test.tsx
  src/client/viewers/MarkdownDiffViewer.tsx
Due: check, format, knip, test

fix: harden working tree blob path handling (#276)
  src/server/git-diff.test.ts
  src/server/git-diff.ts
Due: check, format, knip, test

ci: set explicit workflow permissions (#277)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Due: none

chore: mark internal skills in frontmatter
  .claude/skills/difit-dev/SKILL.md
  .claude/skills/difit-review/SKILL.md
  .codex/skills/difit-dev/SKILL.md
  .codex/skills/difit-review/SKILL.md
  .codex/skills/release/SKILL.md
  .codex/skills/vscode-release/SKILL.md
Due: none

docs: align difit comments with user language
  .claude/skills/difit-dev/SKILL.md
  .claude/skills/difit-review/SKILL.md
  .codex/skills/difit-dev/SKILL.md
  .codex/skills/difit-review/SKILL.md
  skills/difit-review/SKILL.md
  skills/difit/SKILL.md
Due: none

chore: release v4.0.0
  CHANGELOG.md
  package.json
Due: check, format, knip, test

docs: clarify difit-dev review lifecycle
  .claude/skills/difit-dev/SKILL.md
  .codex/skills/difit-dev/SKILL.md
Due: none

docs: use npx difit in bundled skills
  skills/difit-review/SKILL.md
  skills/difit-review/agents/openai.yaml
  skills/difit/SKILL.md
  skills/difit/agents/openai.yaml
Due: none

docs: add safe comment guardrails to difit skills
  .claude/skills/difit-dev/SKILL.md
  .claude/skills/difit-review/SKILL.md
  .codex/skills/difit-dev/SKILL.md
  .codex/skills/difit-review/SKILL.md
  skills/difit-review/SKILL.md
  skills/difit/SKILL.md
Due: none

add `--context` flag (#273)
  src/cli/index.ts
  src/server/git-diff-tui.ts
  src/server/git-diff.ts
  src/server/server.ts
  src/tui/App.tsx
Due: check, format, knip, test

test: cover context flag
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  src/cli/index.test.ts
  src/server/git-diff-tui.test.ts
  src/server/git-diff.test.ts
  src/server/server.test.ts
Due: check, format, knip, test

fix(ui): move HEAD quick diff to top
  src/client/components/DiffQuickMenu.test.ts
  src/client/components/DiffQuickMenu.tsx
Due: check, format, knip, test

feat(ui): add origin main uncommitted quick preset
  src/client/components/DiffQuickMenu.test.ts
  src/client/components/DiffQuickMenu.tsx
  src/server/git-diff.ts
  src/server/server.test.ts
  src/server/server.ts
  src/types/diff.ts
Due: check, format, knip, test

chore: release v4.0.1
  CHANGELOG.md
  package.json
Due: check, format, knip, test

docs: tighten release skill changelog move rules
  .codex/skills/release/SKILL.md
Due: none

chore: refresh fork config to DoskoiYuta/difit
  .claude/commands/release.md
  .codex/skills/release/SKILL.md
  .github/FUNDING.yml
  .github/workflows/publish.yml
  CHANGELOG.md
  LICENSE
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  package.json
  packages/vscode/LICENSE
  packages/vscode/README.md
  packages/vscode/package.json
  src/client/App.tsx
  src/client/viewers/MarkdownDiffViewer.test.tsx
  src/server/git-diff.ts
Due: check, format, knip, test

fix(ui): add table styling for markdown preview
  src/client/viewers/MarkdownDiffViewer.tsx
Due: check, format, knip, test

Update src/client/viewers/MarkdownDiffViewer.tsx
  src/client/viewers/MarkdownDiffViewer.tsx
Due: check, format, knip, test

style: fix oxfmt formatting
  src/client/viewers/MarkdownDiffViewer.tsx
Due: check, format, knip, test

test: add table rendering test for markdown preview
  src/client/viewers/MarkdownDiffViewer.test.tsx
Due: check, format, knip, test

refactor: simplify table components to match existing style
  src/client/viewers/MarkdownDiffViewer.tsx
Due: check, format, knip, test

fix: add node types to vitest env stub
  vitest.env.stub.ts
Due: check, format

fix: avoid crypto.randomUUID for comment ids
  src/client/hooks/useDiffComments.ts
  src/types/diff.ts
  src/utils/commentImports.ts
  src/utils/createId.test.ts
  src/utils/createId.ts
Due: check, format, knip, test

Fix/markdown table style (#281)
  src/client/viewers/MarkdownDiffViewer.test.tsx
  src/client/viewers/MarkdownDiffViewer.tsx
Due: check, format, knip, test

revert pnpm major version up for ci
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/pr-vscode.yml
  .github/workflows/publish.yml
Due: none

test: stabilize tui render assertions
  src/cli/index.test.ts
Due: check, format, knip, test

fix: avoid crypto.randomUUID for comment ids (#284)
  src/client/hooks/useDiffComments.ts
  src/types/diff.ts
  src/utils/commentImports.ts
  src/utils/createId.test.ts
  src/utils/createId.ts
Due: check, format, knip, test

test: avoid ink imports in tui cli tests
  src/cli/index.test.ts
Due: check, format, knip, test

refactor: simplify clipboard fallback handling
  src/client/utils/clipboard.test.ts
  src/client/utils/clipboard.ts
Due: check, format, knip, test

fix: fallback to legacy clipboard on insecure contexts
  src/client/App.tsx
  src/client/components/CommentThreadCard.tsx
  src/client/components/DiffViewerHeader.tsx
  src/client/utils/clipboard.test.ts
  src/client/utils/clipboard.ts
Due: check, format, knip, test

update node
  .github/workflows/performance.yml
Due: none

Fix clipboard copying on insecure contexts (#286)
  src/client/App.tsx
  src/client/components/CommentThreadCard.tsx
  src/client/components/DiffViewerHeader.tsx
  src/client/utils/clipboard.test.ts
  src/client/utils/clipboard.ts
Due: check, format, knip, test

fix: adjust tui deprecation prompt spacing
  src/cli/tuiDeprecation.test.ts
  src/cli/tuiDeprecation.ts
Due: check, format, knip, test

feat: gate tui startup with deprecation notice
  src/cli/index.ts
  src/cli/tuiDeprecation.test.ts
  src/cli/tuiDeprecation.ts
  src/cli/utils.ts
Due: check, format, knip, test

docs: mark tui option as deprecated
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
Due: none

docs: restore tui mention in stdin docs
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
Due: none
