Repository yoshiko-pg/reviewit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - '*.{ts,tsx}'
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'eslint.config.mjs'
      run: npm run lint:fix
      stage_fixed: true
      fail_text: 'Linting failed. Please fix the issues and try again.'

    format:
      glob:
        - '*.{ts,tsx,js,jsx,json,css}'
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - '.prettierrc'
      run: npm run format
      stage_fixed: true
      fail_text: 'Code formatting failed. Please check the issues and try again.'

    typecheck:
      glob:
        - '*.{ts,tsx}'
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
      run: npm run typecheck
      fail_text: 'TypeScript compilation failed. Please fix type errors and try again.'

    test:
      glob:
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'vitest.config.ts'
      run: npm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    build:
      run: npm run build
      fail_text: 'Build failed. Please fix build errors before pushing.'

fix: Remove ANSI color codes and fix variable references in compare script
  scripts/compare-performance.js
Due: format

feat: Add --difit-path option to performance measurement script
  .github/workflows/performance.yml
  scripts/measure-performance.js
Due: format

chore: Remove redundant playwright installation steps
  .github/workflows/performance.yml
  scripts/measure-performance.js
Due: format

feat: Add Playwright browser caching to CI workflow
  .github/workflows/performance.yml
Due: none

feat: Add stdin support to dev.js script
  scripts/dev.js
Due: format

feat: Enable watch mode for dot argument with comparison
  src/cli/index.test.ts
  src/cli/index.ts
Due: lint, format, typecheck, test

feat: Enable watch mode for dot argument with comparison (#73)
  src/cli/index.test.ts
  src/cli/index.ts
Due: lint, format, typecheck, test

perf: Improve keyboard navigation performance with React.memo (#72)
  .github/workflows/performance.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/compare-performance.js
  scripts/dev.js
  scripts/generate-large-diff.js
  scripts/measure-performance.js
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
Due: lint, format, typecheck, test

fix: Fix syntax highlighting disappearing on hover by passing filename prop
  src/client/components/DiffChunk.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

refactor: Remove global currentFilename variable
  src/client/components/DiffViewer.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
Due: lint, format, typecheck, test

fix: Fix syntax highlighting disappearing on hover by passing filename prop (#74)
  src/client/components/DiffChunk.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

feat: Restore row selection on mouse click
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

feat: Add click-to-deselect functionality for row selection
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.ts
Due: lint, format, typecheck, test

feat: Auto-close empty comment forms on outside click
  src/client/App.tsx
  src/client/components/CommentButton.tsx
  src/client/components/CommentForm.tsx
Due: lint, format, typecheck, test

feat: Improve row selection styling with yellow highlight
  src/client/styles/global.css
Due: format

fix: Remove border-top from td elements containing comment forms
  src/client/components/DiffChunk.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

feat: Highlight selected file in the file list
  src/client/App.tsx
  src/client/components/FileList.tsx
Due: lint, format, typecheck, test

feat: Change keyboard shortcuts - 'v' for toggle viewed state, 'r' for refresh
  src/client/App.tsx
  src/client/components/HelpModal.tsx
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.test.tsx
  src/client/hooks/useKeyboardNavigation.ts
Due: lint, format, typecheck, test

feat: Add keyboard shortcuts to jump to first/last file
  src/client/components/HelpModal.tsx
  src/client/hooks/useKeyboardNavigation.test.tsx
  src/client/hooks/useKeyboardNavigation.ts
Due: lint, format, typecheck, test

cleanup README
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
Due: none

Release v2.1.2
  CHANGELOG.md
  package.json
Due: lint, format, typecheck, test

refactor: Remove unused imports and variables in generate-large-diff.js
  scripts/generate-large-diff.js
Due: format

refactor: Remove unused imports and variables in generate-large-diff.js (#77)
  scripts/generate-large-diff.js
Due: format

feat: Change refresh keybinding from 'r' to 'Shift+R'
  CHANGELOG.md
  src/client/components/HelpModal.tsx
  src/client/hooks/useKeyboardNavigation.test.tsx
  src/client/hooks/useKeyboardNavigation.ts
Due: lint, format, typecheck, test

add test for copy prompt
  src/client/hooks/useLocalComments.test.ts
Due: lint, format, typecheck, test

spec
  .claude/specs/comment-storage-management/design.md
  .claude/specs/comment-storage-management/requirements.md
  .claude/specs/comment-storage-management/tasks.md
Due: none

docs: Translate spec documents to English
  .claude/specs/comment-storage-management/design.md
  .claude/specs/comment-storage-management/requirements.md
  .claude/specs/comment-storage-management/tasks.md
Due: none

feat: simplify comment copy format and auto-mark lock files as viewed
  src/client/App.test.tsx
  src/client/App.tsx
  src/client/hooks/useCombinedComments.ts
  src/client/hooks/useDiffComments.ts
  src/client/hooks/useViewedFiles.ts
  src/client/utils/commentAdapter.ts
Due: lint, format, typecheck, test

test: Add comprehensive tests for comment copy format
  src/client/hooks/useDiffComments.test.ts
  src/client/hooks/useDiffComments.ts
Due: lint, format, typecheck, test

update task
  .claude/specs/comment-storage-management/tasks.md
Due: none

fix: resolve TypeScript and lint errors for comment storage feature
  package.json
  pnpm-lock.yaml
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/useCombinedComments.ts
  src/client/hooks/useDiffComments.ts
  src/client/hooks/useStorageMonitor.ts
  src/client/hooks/useViewedFiles.ts
  src/client/services/StorageService.ts
  src/client/utils/commentAdapter.ts
  src/client/utils/diffUtils.ts
  src/types/diff.ts
Due: lint, format, typecheck, test

fix comment storage structure (#78)
  .claude/specs/comment-storage-management/design.md
  .claude/specs/comment-storage-management/requirements.md
  .claude/specs/comment-storage-management/tasks.md
  package.json
  pnpm-lock.yaml
  src/client/App.test.tsx
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/useDiffComments.test.ts
  src/client/hooks/useDiffComments.ts
  src/client/hooks/useStorageMonitor.ts
  src/client/hooks/useViewedFiles.ts
  src/client/services/StorageService.ts
  src/client/utils/diffUtils.ts
  src/types/diff.ts
Due: lint, format, typecheck, test

Release v2.2.0
  CHANGELOG.md
  package.json
Due: lint, format, typecheck, test

add claude code action
  .github/workflows/claude.yml
Due: none

feat: replace uuid package to crypto.randomUUID
  package.json
  pnpm-lock.yaml
  src/client/hooks/useDiffComments.ts
Due: lint, format, typecheck, test

add support for highlighting .svelte
  src/client/components/PrismSyntaxHighlighter.tsx
Due: lint, format, typecheck, test
