Repository yoshiko-pg/difit: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, knip, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob:
        - '*.{ts,tsx}'
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'pnpm-lock.yaml'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
        - '.oxlintrc.json'
        - '.oxfmtrc.json'
      run: pnpm run check:fix
      stage_fixed: true
      fail_text: 'Static checks failed. Please fix the issues and try again.'

    format:
      glob:
        - '*.{ts,tsx,js,jsx,json,css}'
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - '.oxfmtrc.json'
      run: pnpm run format:fix
      stage_fixed: true
      fail_text: 'Oxfmt formatting failed. Please check the issues and try again.'

    knip:
      glob:
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - 'scripts/*.{js,mjs,cjs}'
        - 'scripts/**/*.{js,mjs,cjs}'
        - 'package.json'
        - 'pnpm-lock.yaml'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
        - 'vite.config.ts'
        - 'vitest.config.ts'
        - 'postcss.config.js'
        - 'knip.json'
      run: pnpm run knip
      fail_text: 'Knip detected unused files/exports/dependencies. Please fix the issues and try again.'

    test:
      glob:
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'vitest.config.ts'
      run: pnpm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    build:
      run: pnpm run build
      fail_text: 'Build failed. Please fix build errors before pushing.'

refactor(dev): only hide internal server url
  scripts/dev-stdout.js
  src/cli/dev-stdout.test.ts
Due: check, format, knip, test

fix(dev): declare stdout proxy types
  scripts/dev-stdout.d.ts
Due: check, format

fix(dev): hide internal port retry logs
  scripts/dev-stdout.js
  src/cli/dev-stdout.test.ts
Due: check, format, knip, test

refactor(dev): hide nested script banners
  scripts/dev.js
Due: format, knip

style(dev): use rocket banner for vite startup
  scripts/dev.js
Due: format, knip

fix(dev): disable vite clear screen
  scripts/dev.js
Due: format, knip

fix(dev): preserve repeated startup log lines
  scripts/dev-stdout.js
  src/cli/dev-stdout.test.ts
Due: check, format, knip, test

fix(dev): keep ctrl-c during compile as clean exit
  scripts/dev-lifecycle.d.ts
  scripts/dev-lifecycle.js
  scripts/dev.js
  src/cli/dev-lifecycle.test.ts
Due: check, format, knip, test

refactor(dev): move pnpm dev helpers into dev dir
  dev/dev-lifecycle.d.ts
  dev/dev-lifecycle.js
  dev/dev-lifecycle.test.ts
  dev/dev-stdout.d.ts
  dev/dev-stdout.js
  dev/dev-stdout.test.ts
  lefthook.yml
  scripts/dev.js
  tsconfig.json
  vitest.config.ts
Due: check, format, knip, test

rm dev message
  scripts/dev.js
Due: format, knip

fix(hooks): run checks for scripts changes
  lefthook.yml
Due: none

Refactor dev startup logging and hide internal server output (#257)
  dev/dev-lifecycle.d.ts
  dev/dev-lifecycle.js
  dev/dev-lifecycle.test.ts
  dev/dev-stdout.d.ts
  dev/dev-stdout.js
  dev/dev-stdout.test.ts
  lefthook.yml
  scripts/dev.js
  tsconfig.json
  vitest.config.ts
Due: check, format, knip, test

chore(ci): enable renovate auto-merge
  .github/renovate.json5
  .github/workflows/pr-vscode.yml
  .github/workflows/pr.yml
Due: none

chore(ci): align merge queue checks
  .github/workflows/performance.yml
  .github/workflows/pr-vscode.yml
  .github/workflows/pr.yml
Due: none

feat(ui): split settings modal sections
  src/client/App.tsx
  src/client/components/SettingsModal.test.tsx
  src/client/components/SettingsModal.tsx
Due: check, format, knip, test

refine settings tab layout
  src/client/components/SettingsModal.test.tsx
  src/client/components/SettingsModal.tsx
Due: check, format, knip, test

Refactor settings modal into appearance and system sections (#263)
  src/client/App.tsx
  src/client/components/SettingsModal.test.tsx
  src/client/components/SettingsModal.tsx
Due: check, format, knip, test

chore(ci): align required checks with ruleset
  .github/workflows/performance.yml
  .github/workflows/pr-vscode.yml
  .github/workflows/pr.yml
Due: none

Update CI workflows for Renovate auto-merge and merge queue checks (#262)
  .github/renovate.json5
  .github/workflows/performance.yml
  .github/workflows/pr-vscode.yml
Due: none

feat: add auto-viewed file patterns
  src/client/App.tsx
  src/client/components/SettingsModal.test.tsx
  src/client/components/SettingsModal.tsx
  src/client/hooks/useAppearanceSettings.ts
  src/client/hooks/useViewedFiles.test.ts
  src/client/hooks/useViewedFiles.ts
  src/client/utils/autoViewedPatterns.test.ts
  src/client/utils/autoViewedPatterns.ts
Due: check, format, knip, test

feat: add auto-viewed file patterns (#265)
  src/client/App.tsx
  src/client/components/SettingsModal.test.tsx
  src/client/components/SettingsModal.tsx
  src/client/hooks/useAppearanceSettings.ts
  src/client/hooks/useViewedFiles.test.ts
  src/client/hooks/useViewedFiles.ts
  src/client/utils/autoViewedPatterns.test.ts
  src/client/utils/autoViewedPatterns.ts
Due: check, format, knip, test

fix: allow revision suffixes on branch refs
  src/cli/utils.test.ts
  src/cli/utils.ts
  src/server/git-diff.test.ts
Due: check, format, knip, test

fix: avoid regex backtracking in revision parsing
  src/cli/utils.ts
Due: check, format, knip, test

Fix commit-ish parsing for branch refs with revision suffixes (#266)
  src/cli/utils.test.ts
  src/cli/utils.ts
  src/server/git-diff.test.ts
Due: check, format, knip, test

chore: release v3.1.18
  CHANGELOG.md
  package.json
Due: check, format, knip, test

fix: collapse auto-viewed files after initial load
  src/client/App.test.tsx
  src/client/App.tsx
  src/client/hooks/useViewedFiles.ts
Due: check, format, knip, test

fix(ui): render thread comments inline
  src/client/components/CommentThreadCard.test.tsx
  src/client/components/CommentThreadCard.tsx
Due: check, format, knip, test

fix(client): tighten thread comment card header
  src/client/components/CommentThreadCard.tsx
Due: check, format, knip, test

fix(client): stop cancel click bubbling in comment modal
  src/client/components/CommentThreadCard.tsx
  src/client/components/CommentsListModal.test.tsx
Due: check, format, knip, test

fix(ui): refine thread action buttons
  src/client/components/CommentThreadCard.test.tsx
  src/client/components/CommentThreadCard.tsx
Due: check, format, knip, test

fix(ui): darken thread action icons
  src/client/components/CommentThreadCard.tsx
Due: check, format, knip, test

fix(ui): confirm before resolving threads
  src/client/components/CommentThreadCard.test.tsx
  src/client/components/CommentThreadCard.tsx
  src/client/components/CommentsListModal.tsx
Due: check, format, knip, test

fix(ui): match thread actions to author roles
  src/client/components/CommentThreadCard.test.tsx
  src/client/components/CommentThreadCard.tsx
  src/client/components/CommentsListModal.test.tsx
  src/client/components/CommentsListModal.tsx
Due: check, format, knip, test

fix(ui): reuse comment form for thread editing
  src/client/components/CommentForm.tsx
  src/client/components/CommentThreadCard.test.tsx
  src/client/components/CommentThreadCard.tsx
Due: check, format, knip, test

fix(client): preserve thread side in comment navigation
  src/client/hooks/keyboardNavigation/navigationFilters.ts
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.test.tsx
  src/client/hooks/useKeyboardNavigation.ts
  src/client/utils/navigation/domHelpers.ts
  src/client/utils/navigation/positionHelpers.test.ts
  src/client/utils/navigation/positionHelpers.ts
Due: check, format, knip, test

fix(client): address threaded comment review issues
  src/client/components/CommentForm.tsx
  src/client/components/CommentThreadCard.tsx
  src/client/components/CommentsListModal.test.tsx
  src/client/components/CommentsListModal.tsx
  src/client/hooks/useDiffComments.test.ts
  src/client/hooks/useDiffComments.ts
Due: check, format, knip, test

feat(client): add threaded review comments
  src/client/App.test.tsx
  src/client/App.tsx
  src/client/components/CommentForm.tsx
  src/client/components/CommentThreadCard.tsx
  src/client/components/CommentsListModal.test.tsx
  src/client/components/CommentsListModal.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.test.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/FileList.tsx
  src/client/components/InlineComment.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/keyboardNavigation/navigationFilters.ts
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/repositoryIsolation.integration.test.ts
  src/client/hooks/useDiffComments.test.ts
  src/client/hooks/useDiffComments.ts
  src/client/hooks/useKeyboardNavigation.ts
  src/client/services/StorageService.ts
  src/client/utils/navigation/positionHelpers.ts
  src/client/viewers/ImageDiffViewer.test.tsx
  src/client/viewers/MarkdownDiffViewer.test.tsx
  src/client/viewers/TextDiffViewer.tsx
  src/client/viewers/types.ts
  src/server/server.ts
  src/types/diff.ts
  src/utils/commentFormatting.ts
Due: check, format, knip, test

fix(perf): stabilize thread reply callback
  src/client/App.tsx
Due: check, format, knip, test

fix(ui): flatten nested comment forms
  src/client/components/CommentForm.tsx
  src/client/components/CommentThreadCard.test.tsx
  src/client/components/CommentThreadCard.tsx
Due: check, format, knip, test

fix(ui): align inline comment actions
  src/client/components/CommentThreadCard.tsx
Due: check, format, knip, test
