Repository yoshiko-pg/difit: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, knip, test

check:
  run: pnpm run check:fix
  stage_fixed: true
  fail_text: Static checks failed. Please fix the issues and try again.

format:
  run: pnpm run format:fix
  stage_fixed: true
  fail_text: Oxfmt formatting failed. Please check the issues and try again.

knip:
  run: pnpm run knip
  fail_text: Knip detected unused files/exports/dependencies. Please fix the issues and try again.

test:
  run: pnpm test
  fail_text: Tests failed. Please fix failing tests and try again.

fix(client): hide open-in-editor when unavailable
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/server/server.test.ts
  src/server/server.ts
  src/types/diff.ts
Due: check, format, knip, test

fix(knip): stop exporting internal-only types
  src/cli/utils.ts
  src/client/hooks/useDiffComments.ts
  src/client/hooks/useViewedFiles.ts
  src/client/utils/wordDetection.ts
  src/server/generated-file-check.ts
  src/utils/suggestionUtils.ts
Due: check, format, knip, test

docs(skill): clarify no-comment shutdown behavior
  .codex/skills/difit-dev/SKILL.md
  SKILL.md
Due: none

fix(dev): show only Vite URL in dev logs
  scripts/dev.js
Due: format, knip

docs: sync README agent-skill updates across locales
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
Due: none

chore: release v3.1.11
  CHANGELOG.md
  package.json
Due: check, format, knip, test

feat(vscode): add one-click difit extension launcher
  .gitignore
  packages/vscode/.vscodeignore
  packages/vscode/LICENSE
  packages/vscode/README.md
  packages/vscode/package.json
  packages/vscode/src/extension.ts
  packages/vscode/tsconfig.json
  pnpm-workspace.yaml
Due: check, format

feat(vscode): choose difit args by git working tree
  packages/vscode/src/extension.ts
Due: check, format

fix(vscode): avoid stdin mode when no local changes
  packages/vscode/src/extension.ts
Due: check, format

fix(vscode): continue launch when version probe exits non-zero
  packages/vscode/src/extension.ts
Due: check, format

chore(skills): add vscode-release workflow skill
  .codex/skills/vscode-release/SKILL.md
  .codex/skills/vscode-release/agents/openai.yaml
Due: none

feat(vscode): add editor toolbar icon button
  packages/vscode/.vscodeignore
  packages/vscode/README.md
  packages/vscode/assets/favicon-white.svg
  packages/vscode/assets/favicon.svg
  packages/vscode/package.json
Due: format

fix(vscode): show status bar button on startup
  packages/vscode/package.json
Due: format

ci: run vscode packaging only when related files change
  .github/workflows/pr-vscode.yml
Due: none

chore(scripts): add root vscode package command
  package.json
Due: check, format, knip, test

chore(vscode): update extension icon asset
  packages/vscode/assets/logo.png
  packages/vscode/package.json
Due: format

chore(lint): switch oxlint scripts back to dot target
  package.json
Due: check, format, knip, test

chore(lint): include vscode extension in oxlint scope
  lefthook.yml
  package.json
  packages/vscode/package.json
Due: check, format, knip, test

fix(vscode): retry startup via login shell on exit 127
  packages/vscode/src/extension.ts
Due: check, format

add difit link
  packages/vscode/README.md
Due: none

fix(vscode): inject extension host node path into spawned env
  packages/vscode/src/extension.ts
Due: check, format

fix(vscode): use interactive login shell for fallback launch
  packages/vscode/src/extension.ts
Due: check, format

pnpm-lock
  pnpm-lock.yaml
Due: check, knip

docs(vscode): rewrite extension readme for current behavior
  packages/vscode/README.md
Due: none

update VSCode README
  packages/vscode/README.md
Due: none

chore(hooks): include vscode package changes in pre-commit globs
  lefthook.yml
Due: none

Potential fix for code scanning alert no. 15: Workflow does not contain permissions
  .github/workflows/pr-vscode.yml
Due: none

fix pnpm version
  .github/workflows/pr-vscode.yml
Due: none

chore(lefthook): run format hook on every commit
  lefthook.yml
Due: none

VSCode Extension (#224)
  .codex/skills/vscode-release/SKILL.md
  .codex/skills/vscode-release/agents/openai.yaml
  .github/workflows/pr-vscode.yml
  .gitignore
  lefthook.yml
  package.json
  packages/vscode/.vscodeignore
  packages/vscode/LICENSE
  packages/vscode/README.md
  packages/vscode/assets/favicon-white.svg
  packages/vscode/assets/favicon.svg
  packages/vscode/assets/logo.png
  packages/vscode/package.json
  packages/vscode/src/extension.ts
  packages/vscode/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check, format, knip, test

perf: speed up diff startup and lazy rendering
  src/client/App.tsx
  src/server/git-diff.test.ts
  src/server/git-diff.ts
  src/server/server.test.ts
  src/server/server.ts
  src/types/diff.ts
Due: check, format, knip, test

chore: trim residual perf-change noise
  src/client/App.tsx
  src/server/git-diff.test.ts
  src/server/git-diff.ts
  src/server/server.test.ts
  src/server/server.ts
Due: check, format, knip, test

chore: remove dead summary path from diff parser
  src/server/git-diff.ts
Due: check, format, knip, test

feat: add --comments option for preloading review comments
  src/cli/index.ts
  src/client/App.test.tsx
  src/client/App.tsx
  src/client/hooks/usePreloadedComments.ts
  src/server/server.ts
  src/types/diff.ts
Due: check, format, knip, test

fix: stabilize preloaded comment ingestion
  src/client/App.tsx
  src/client/hooks/useDiffComments.ts
  src/client/hooks/usePreloadedComments.ts
Due: check, format, knip, test

fix: improve server comment delivery and CLI validation
  src/cli/index.ts
  src/server/server.ts
Due: check, format, knip, test

fix: include side in dedup key for preloaded comments
  src/client/hooks/usePreloadedComments.ts
Due: check, format, knip, test

fix: align PreloadedComment.line type with LineNumber
  src/types/diff.ts
Due: check, format, knip, test

fix: validate and normalize side field for preloaded comments
  src/cli/index.ts
  src/client/hooks/usePreloadedComments.ts
  src/server/server.ts
Due: check, format, knip, test

test: add tests for preload-comments feature
  src/cli/index.test.ts
  src/client/hooks/useDiffComments.test.ts
  src/client/hooks/usePreloadedComments.test.ts
  src/server/server.test.ts
Due: check, format, knip, test

Path conditions:
  check: any of: *.{ts,tsx}, src/**/*.{ts,tsx}, package.json, pnpm-lock.yaml, tsconfig.json, tsconfig.*.json, .oxlintrc.json, .oxfmtrc.json
  format: any of: *.{ts,tsx,js,jsx,json,css}, src/**/*.{ts,tsx,js,jsx,json,css}, .oxfmtrc.json
  knip: any of: src/**/*.{ts,tsx,js,jsx,json,css}, scripts/*.{js,mjs,cjs}, scripts/**/*.{js,mjs,cjs}, package.json, pnpm-lock.yaml, tsconfig.json, tsconfig.*.json, vite.config.ts, vitest.config.ts, postcss.config.js, knip.json
  test: any of: src/**/*.{ts,tsx}, package.json, vitest.config.ts
