Repository yoshiko-pg/difit: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, knip, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob:
        - '*.{ts,tsx}'
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'pnpm-lock.yaml'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
        - '.oxlintrc.json'
        - '.oxfmtrc.json'
      run: pnpm run check:fix
      stage_fixed: true
      fail_text: 'Static checks failed. Please fix the issues and try again.'

    format:
      glob:
        - '*.{ts,tsx,js,jsx,json,css}'
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - '.oxfmtrc.json'
      run: pnpm run format:fix
      stage_fixed: true
      fail_text: 'Oxfmt formatting failed. Please check the issues and try again.'

    knip:
      glob:
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - 'scripts/*.{js,mjs,cjs}'
        - 'scripts/**/*.{js,mjs,cjs}'
        - 'package.json'
        - 'pnpm-lock.yaml'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
        - 'vite.config.ts'
        - 'vitest.config.ts'
        - 'postcss.config.js'
        - 'knip.json'
      run: pnpm run knip
      fail_text: 'Knip detected unused files/exports/dependencies. Please fix the issues and try again.'

    test:
      glob:
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'vitest.config.ts'
      run: pnpm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    build:
      run: pnpm run build
      fail_text: 'Build failed. Please fix build errors before pushing.'

feat: support gitattributes generated files (#342)
  src/server/git-diff.test.ts
  src/server/git-diff.ts
Due: check, format, knip, test

Simplify setting section (#343)
  src/client/App.tsx
  src/client/components/CommentsListModal.tsx
  src/client/components/FileList.tsx
  src/client/components/SettingsModal.test.tsx
  src/client/components/SettingsModal.tsx
  src/client/hooks/useAppearanceSettings.test.ts
  src/client/hooks/useAppearanceSettings.ts
  src/client/hooks/useLazyDiffRendering.ts
  src/client/hooks/usePreferredScrollBehavior.test.ts
  src/client/hooks/usePreferredScrollBehavior.ts
Due: check, format, knip, test

feat(site): add social preview metadata
  public/site-data/og-image.png
  src/site/index.html
Due: none

fix(site): localize ai comment diff label
  scripts/export-site-data.js
Due: format, knip

feat(site): localize demo revision labels
  scripts/export-site-data.js
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/types/staticDiff.ts
Due: check, format, knip, test

fix(site): simplify demo revision picker
  scripts/export-site-data.js
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/types/staticDiff.ts
Due: check, format, knip, test

fix(site): serve static image diff blobs
  public/site-data/blobs/080c0e6/cHVibGljL3NpdGUtZGF0YS9vZy1pbWFnZS5wbmc.png
  public/site-data/blobs/55f23a1/bGFuZGluZy9wdWJsaWMvZGlmaXQvbG9nby5wbmc.png
  public/site-data/blobs/66ff7c6/cHVibGljL2xvZ28ucG5n.png
  public/site-data/blobs/e6977fe/cHVibGljL2xvZ28ucG5n.png
  scripts/export-site-data.js
  src/client/viewers/ImageDiffViewer.test.tsx
  src/client/viewers/ImageDiffViewer.tsx
  src/site/types/staticDiff.ts
  src/site/utils/staticApiBridge.ts
Due: check, format, knip, test

feat(site): detect initial language
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/sitePageContent.test.ts
  src/site/sitePageContent.ts
Due: check, format, knip, test

copy(site): update hero catch copy
  src/site/sitePageContent.ts
Due: check, format, knip, test

fix(site): remove revision picker descriptions
  scripts/export-site-data.js
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/types/staticDiff.ts
Due: check, format, knip, test

feat(site): curate demo diff snapshots
  scripts/export-site-data.js
  src/site/StaticDiffApp.test.tsx
  src/site/types/staticDiff.ts
  src/site/utils/staticApiBridge.ts
Due: check, format, knip, test

fix(site): align revision picker caret
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
Due: check, format, knip, test

Add static site data exports and localized revision UI (#344)
  public/site-data/blobs/080c0e6/cHVibGljL3NpdGUtZGF0YS9vZy1pbWFnZS5wbmc.png
  public/site-data/blobs/55f23a1/bGFuZGluZy9wdWJsaWMvZGlmaXQvbG9nby5wbmc.png
  public/site-data/blobs/66ff7c6/cHVibGljL2xvZ28ucG5n.png
  public/site-data/blobs/e6977fe/cHVibGljL2xvZ28ucG5n.png
  public/site-data/og-image.png
  scripts/export-site-data.js
  src/client/viewers/ImageDiffViewer.test.tsx
  src/client/viewers/ImageDiffViewer.tsx
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/StaticDiffApp.test.tsx
  src/site/index.html
  src/site/sitePageContent.test.ts
  src/site/sitePageContent.ts
  src/site/types/staticDiff.ts
  src/site/utils/staticApiBridge.ts
Due: check, format, knip, test

chore: release v4.0.6
  CHANGELOG.md
  package.json
Due: check, format, knip, test

Show diff line totals in file sidebar
  src/client/components/FileList.test.tsx
  src/client/components/FileList.tsx
Due: check, format, knip, test

fix: use committed site demo snapshots
  .gitignore
  package.json
  public/site-data/manifest.json
  public/site-data/snapshots/55f23a1...080c0e6.json
  public/site-data/snapshots/66ff7c6...e6977fe.json
  public/site-data/snapshots/7d40fd4...a72112f-comments.json
  public/site-data/snapshots/7d40fd4...a72112f.json
  scripts/export-site-data.js
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/StaticDiffApp.test.tsx
  src/site/types/staticDiff.ts
  src/site/utils/staticApiBridge.ts
Due: check, format, knip, test

Right align sidebar diff totals
  src/client/components/FileList.tsx
Due: check, format, knip, test

Match sidebar diff total spacing
  src/client/components/FileList.tsx
Due: check, format, knip, test

fix: use committed site demo snapshots (#345)
  .gitignore
  package.json
  public/site-data/manifest.json
  public/site-data/snapshots/55f23a1...080c0e6.json
  public/site-data/snapshots/66ff7c6...e6977fe.json
  public/site-data/snapshots/7d40fd4...a72112f-comments.json
  public/site-data/snapshots/7d40fd4...a72112f.json
  scripts/export-site-data.js
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/StaticDiffApp.test.tsx
  src/site/types/staticDiff.ts
  src/site/utils/staticApiBridge.ts
Due: check, format, knip, test

feat: keep files marked viewed when their diff is unchanged (#336)
  src/client/App.test.tsx
  src/client/App.tsx
  src/client/components/FileList.tsx
  src/client/hooks/repositoryIsolation.integration.test.ts
  src/client/hooks/useViewedFiles.test.ts
  src/client/hooks/useViewedFiles.ts
  src/client/services/StorageService.test.ts
  src/client/services/StorageService.ts
  src/types/diff.ts
Due: check, format, knip, test

add og tags
  src/site/index.html
Due: none

fix: move changed-viewed badge to file header
  src/client/App.tsx
  src/client/components/DiffViewer.test.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/DiffViewerHeader.tsx
  src/client/components/FileList.tsx
Due: check, format, knip, test

style: show changed-viewed indicator as chip
  src/client/components/DiffViewer.test.tsx
  src/client/components/DiffViewerHeader.tsx
Due: check, format, knip, test

Show total diff line counts in the file sidebar (#347)
  src/client/components/FileList.test.tsx
  src/client/components/FileList.tsx
Due: check, format, knip, test

Move changed-since-viewed indicator to the file header (#348)
  src/client/App.tsx
  src/client/components/DiffViewer.test.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/DiffViewerHeader.tsx
  src/client/components/FileList.tsx
Due: check, format, knip, test

fix
  public/site-data/manifest.json
Due: format

Update site language controls
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/sitePageContent.ts
Due: check, format, knip, test

Polish localized site comments
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/sitePageContent.ts
Due: check, format, knip, test

Remove generated timestamp from site manifest
  public/site-data/manifest.json
  scripts/export-site-data.js
  src/site/SitePage.test.tsx
  src/site/StaticDiffApp.test.tsx
  src/site/types/staticDiff.ts
Due: check, format, knip, test

Restore localized shell markers and spacing in site (#349)
  public/site-data/manifest.json
  scripts/export-site-data.js
  src/site/SitePage.test.tsx
  src/site/SitePage.tsx
  src/site/StaticDiffApp.test.tsx
  src/site/sitePageContent.ts
  src/site/types/staticDiff.ts
Due: check, format, knip, test

chore: release v4.0.7
  CHANGELOG.md
  package.json
Due: check, format, knip, test

Remove TUI mode
  AGENTS.md
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  docs/structure.md
  docs/test.md
  package.json
  pnpm-lock.yaml
  src/cli/index.test.ts
  src/cli/index.ts
  src/cli/tuiDeprecation.test.ts
  src/cli/tuiDeprecation.ts
  src/cli/utils.test.ts
  src/cli/utils.ts
  src/server/git-diff-tui.test.ts
  src/server/git-diff-tui.ts
  src/tui/App.tsx
  src/tui/components/DiffViewer.tsx
  src/tui/components/FileList.tsx
  src/tui/components/SideBySideDiffViewer.tsx
  src/tui/components/StatusBar.tsx
  src/tui/utils/parseDiff.ts
  src/types/diff.ts
  tsconfig.cli.json
Due: check, format, knip, test

Fix lockfile optional dependencies
  pnpm-lock.yaml
Due: check, knip

Remove TUI mode and related code (#346)
  AGENTS.md
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  docs/structure.md
  docs/test.md
  package.json
  pnpm-lock.yaml
  src/cli/index.test.ts
  src/cli/index.ts
  src/cli/tuiDeprecation.test.ts
  src/cli/tuiDeprecation.ts
  src/cli/utils.test.ts
  src/cli/utils.ts
  src/server/git-diff-tui.test.ts
  src/server/git-diff-tui.ts
  src/tui/App.tsx
  src/tui/components/DiffViewer.tsx
  src/tui/components/FileList.tsx
  src/tui/components/SideBySideDiffViewer.tsx
  src/tui/components/StatusBar.tsx
  src/tui/utils/parseDiff.ts
  src/types/diff.ts
  tsconfig.cli.json
Due: check, format, knip, test

docs: add README badges
  README.md
Due: none

docs: remove README download and star badges
  README.md
Due: none

docs: point CI badge to PR checks
  README.md
Due: none

docs: remove README license badge
  README.md
Due: none

Add project badges to the README (#350)
  README.md
Due: none

test: restore critical regression coverage
  src/client/App.test.tsx
  src/site/SitePage.test.tsx
  src/site/sitePageContent.test.ts
Due: check, format, knip, test
