Repository yoshiko-pg/reviewit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lint:
  run: npm run lint:fix
  stage_fixed: true
  fail_text: Linting failed. Please fix the issues and try again.

format:
  run: npm run format
  stage_fixed: true
  fail_text: Code formatting failed. Please check the issues and try again.

typecheck:
  run: npm run typecheck
  fail_text: TypeScript compilation failed. Please fix type errors and try again.

test:
  run: npm test
  fail_text: Tests failed. Please fix failing tests and try again.

enable updating comment with cmd+enter shortcut
  src/client/components/InlineComment.tsx
Due: lint, format, typecheck, test

feat: Add stdin support for reading unified diffs (#58)
  README.md
  src/cli/index.ts
  src/server/git-diff.test.ts
  src/server/git-diff.ts
  src/server/server.ts
Due: lint, format, typecheck, test

feat: Add Gerrit-style word highlighting to diff viewer (#62)
  src/client/App.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.test.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/contexts/WordHighlightContext.test.tsx
  src/client/contexts/WordHighlightContext.tsx
  src/client/hooks/useAppearanceSettings.ts
  src/client/styles/global.css
  src/client/utils/wordDetection.test.ts
  src/client/utils/wordDetection.ts
Due: lint, format, typecheck, test

fix: Fix issue where last comment is not output when closing window (#63)
  src/client/App.tsx
  src/server/server.ts
Due: lint, format, typecheck, test

enable updating comment with cmd+enter shortcut (#67)
  src/client/components/InlineComment.tsx
Due: lint, format, typecheck, test

feat: Add comment list view with keyboard navigation and scope-based shortcuts (#64)
  package.json
  pnpm-lock.yaml
  src/client/App.test.tsx
  src/client/App.tsx
  src/client/components/CommentsDropdown.test.tsx
  src/client/components/CommentsDropdown.tsx
  src/client/components/CommentsListModal.test.tsx
  src/client/components/CommentsListModal.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/HelpModal.test.tsx
  src/client/components/HelpModal.tsx
  src/client/components/InlineComment.tsx
  src/client/components/SettingsModal.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/keyboardNavigation/index.ts
  src/client/hooks/keyboardNavigation/navigationCore.ts
  src/client/hooks/keyboardNavigation/navigationFilters.ts
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.test.ts
  src/client/hooks/useKeyboardNavigation.test.tsx
  src/client/hooks/useKeyboardNavigation.ts
  src/client/main.tsx
  src/client/utils/navigation/domHelpers.ts
  src/client/utils/navigation/lineHelpers.ts
  src/client/utils/navigation/positionHelpers.ts
Due: lint, format, typecheck, test

Add protobuf syntax highlighting support
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/utils/languageLoader.ts
Due: lint, format, typecheck, test

Unify comment form styles between Add and Edit modes
  src/client/components/CommentForm.tsx
  src/client/components/InlineComment.tsx
Due: lint, format, typecheck, test

Make watch option default by removing --watch flag and always enabling file watching
  src/cli/index.test.ts
  src/cli/index.ts
  src/server/server.ts
Due: lint, format, typecheck, test

Cleanup README and Update README files for all languages
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
Due: none

fix: Disable row selection on mouse click
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

feat: Change default port from 3000 to 4966
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  docs/structure.md
  src/cli/index.test.ts
  src/server/server.test.ts
  src/server/server.ts
  vite.config.ts
Due: lint, format, typecheck, test

chore: release v2.1.0
  CHANGELOG.md
  package.json
Due: lint, format, typecheck, test

Add screenshot to all README files
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  docs/images/screenshot.png
Due: none

Add keyboard shortcuts button to sidebar footer
  src/client/App.tsx
Due: lint, format, typecheck, test

Add protobuf support to README
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
Due: none

feat: Change Reload button to Refresh with updated icon
  src/client/components/ReloadButton.test.tsx
  src/client/components/ReloadButton.tsx
Due: lint, format, typecheck, test

refactor: Reorganize keyboard shortcuts modal layout
  src/client/components/HelpModal.tsx
Due: lint, format, typecheck, test

Release v2.1.1
  CHANGELOG.md
  package.json
Due: lint, format, typecheck, test

Add script to generate large diffs for performance testing
  scripts/generate-large-diff.js
Due: format

Add performance measurement script focused on keyboard navigation
  package.json
  performance-results/perf-large-2025-07-28T03-39-53-705Z.json
  performance-results/perf-large-2025-07-28T03-41-51-005Z.json
  performance-results/perf-medium-2025-07-28T03-43-48-623Z.json
  performance-results/perf-medium-2025-07-28T03-45-25-216Z.json
  performance-results/perf-small-2025-07-28T03-38-03-009Z.json
  performance-results/perf-small-2025-07-28T03-39-00-951Z.json
  scripts/measure-performance.js
Due: lint, format, typecheck, test

chore: Add performance-results to .gitignore
  .gitignore
  performance-results/perf-large-2025-07-28T03-39-53-705Z.json
  performance-results/perf-large-2025-07-28T03-41-51-005Z.json
  performance-results/perf-medium-2025-07-28T03-43-48-623Z.json
  performance-results/perf-medium-2025-07-28T03-45-25-216Z.json
  performance-results/perf-small-2025-07-28T03-38-03-009Z.json
  performance-results/perf-small-2025-07-28T03-39-00-951Z.json
Due: format

refactor: Improve performance measurement script
  scripts/measure-performance.js
Due: format

chore: Remove memory measurement from performance script
  scripts/measure-performance.js
Due: format

feat: Add git working directory dirty state detection to performance script
  scripts/measure-performance.js
Due: format

feat: Add performance comparison script
  package.json
  scripts/compare-performance.js
Due: lint, format, typecheck, test

feat: Improve performance comparison script with better UX
  package.json
  scripts/compare-performance.js
Due: lint, format, typecheck, test

fix: Fix argument parsing in performance measurement script
  scripts/measure-performance.js
Due: format

refactor: Use --size flag for performance measurement script
  package.json
  scripts/measure-performance.js
Due: lint, format, typecheck, test

perf: Improve performance measurement timing accuracy
  scripts/measure-performance.js
Due: format

perf: Optimize PrismSyntaxHighlighter to prevent re-renders
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
Due: lint, format, typecheck, test

feat: Add GitHub Actions workflow for performance testing
  .github/workflows/performance.yml
Due: none

feat: Add playwright as dev dependency and improve CI workflow
  .github/workflows/performance.yml
  package.json
  pnpm-lock.yaml
  scripts/compare-performance.js
Due: lint, format, typecheck, test

refactor: Improve CI workflow to use head branch scripts consistently
  .github/workflows/performance.yml
Due: none

fix: Install playwright in base branch if missing during CI
  .github/workflows/performance.yml
Due: none

fix: Use pnpm to install playwright in CI to handle workspace protocols
  .github/workflows/performance.yml
Due: none

fix: Use pnpm exec instead of npx and remove npm fallback
  .github/workflows/performance.yml
Due: none

ci: Remove PR comment functionality from performance workflow
  .github/workflows/performance.yml
Due: none

fix: Fix performance test result path in CI workflow
  .github/workflows/performance.yml
Due: none

refactor: Simplify performance workflow to use compare script output directly
  .github/workflows/performance.yml
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}, src/**/*.{ts,tsx}, package.json, eslint.config.mjs
  format: any of: *.{ts,tsx,js,jsx,json,css}, src/**/*.{ts,tsx,js,jsx,json,css}, .prettierrc
  typecheck: any of: *.{ts,tsx}, src/**/*.{ts,tsx}, package.json, tsconfig.json, tsconfig.*.json
  test: any of: src/**/*.{ts,tsx}, package.json, vitest.config.ts
