Repository yoshiko-pg/difit: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, knip, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob:
        - '*.{ts,tsx}'
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'pnpm-lock.yaml'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
        - '.oxlintrc.json'
        - '.oxfmtrc.json'
      run: pnpm run check:fix
      stage_fixed: true
      fail_text: 'Static checks failed. Please fix the issues and try again.'

    format:
      glob:
        - '*.{ts,tsx,js,jsx,json,css}'
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - '.oxfmtrc.json'
      run: pnpm run format:fix
      stage_fixed: true
      fail_text: 'Oxfmt formatting failed. Please check the issues and try again.'

    knip:
      glob:
        - 'src/**/*.{ts,tsx,js,jsx,json,css}'
        - 'scripts/*.{js,mjs,cjs}'
        - 'scripts/**/*.{js,mjs,cjs}'
        - 'package.json'
        - 'pnpm-lock.yaml'
        - 'tsconfig.json'
        - 'tsconfig.*.json'
        - 'vite.config.ts'
        - 'vitest.config.ts'
        - 'postcss.config.js'
        - 'knip.json'
      run: pnpm run knip
      fail_text: 'Knip detected unused files/exports/dependencies. Please fix the issues and try again.'

    test:
      glob:
        - 'src/**/*.{ts,tsx}'
        - 'package.json'
        - 'vitest.config.ts'
      run: pnpm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    build:
      run: pnpm run build
      fail_text: 'Build failed. Please fix build errors before pushing.'

fix: update knip config for dependency refresh
  knip.json
Due: format, knip

fix: exclude site data from npm package
  package.json
  vite.config.ts
Due: check, format, knip, test

fix: exclude site data from npm package (#408)
  package.json
  vite.config.ts
Due: check, format, knip, test

chore: release v5.0.3
  CHANGELOG.md
  package.json
Due: check, format, knip, test

feat(highlight): add Svelte syntax highlighting support
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  package.json
  pnpm-lock.yaml
  src/client/utils/languageLoader.ts
  src/types/prism-components.d.ts
Due: check, format, knip, test

feat(highlight): add Svelte syntax highlighting support (#409)
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
  package.json
  pnpm-lock.yaml
  src/client/utils/languageLoader.ts
  src/types/prism-components.d.ts
Due: check, format, knip, test

chore: release v5.0.4
  CHANGELOG.md
  package.json
Due: check, format, knip, test

fix: anchor unified-mode selection overlay to td for Safari
  src/client/components/DiffChunk.tsx
  src/client/styles/global.css
Due: check, format, knip, test

fix(client): keep collapsed file stationary when marking viewed with header visible
  src/client/App.tsx
  src/client/hooks/useLazyDiffRendering.test.ts
  src/client/hooks/useLazyDiffRendering.ts
Due: check, format, knip, test

fix: commit drag selection on mouse release anywhere, not only on the comment button
  src/client/components/CommentButton.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: check, format, knip, test

fix: anchor unified-mode selection overlay to td for Safari (#416)
  src/client/components/DiffChunk.tsx
  src/client/styles/global.css
Due: check, format, knip, test

fix(client): keep collapsed file stationary when marking viewed with header visible (#417)
  src/client/App.tsx
  src/client/hooks/useLazyDiffRendering.test.ts
  src/client/hooks/useLazyDiffRendering.ts
Due: check, format, knip, test

fix: commit drag selection on mouse release anywhere, not only on the comment button (#418)
  src/client/components/CommentButton.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: check, format, knip, test

chore: release v5.0.5
  CHANGELOG.md
  package.json
Due: check, format, knip, test

feat(client): improve keyboard file navigation (#378)
  src/client/App.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/DiffViewerHeader.tsx
  src/client/components/HelpModal.tsx
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.test.tsx
  src/client/hooks/useKeyboardNavigation.ts
  src/client/styles/global.css
Due: check, format, knip, test

feat: add ability to mark an entire folder as reviewed from the file tree (#419)
  src/client/App.tsx
  src/client/components/FileList.test.tsx
  src/client/components/FileList.tsx
  src/client/hooks/useViewedFiles.test.ts
  src/client/hooks/useViewedFiles.ts
Due: check, format, knip, test

style(client): use green for focused file header indicator
  src/client/styles/global.css
Due: format, knip

style(client): add gap between Shift+V keys and wrapped description in help modal
  src/client/components/HelpModal.tsx
Due: check, format, knip, test

fix(client): don't show keyboard cursor when clicking Viewed button
  src/client/App.tsx
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.test.tsx
  src/client/hooks/useKeyboardNavigation.ts
Due: check, format, knip, test

feat: reveal folder review checkbox on hover in place of the folder icon
  src/client/components/FileList.tsx
Due: check, format, knip, test

fix: nudge folder review checkbox 2px right to align with file checkboxes
  src/client/components/FileList.tsx
Due: check, format, knip, test

feat(client): improve keyboard file navigation (#420)
  src/client/App.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/DiffViewerHeader.tsx
  src/client/components/HelpModal.tsx
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.test.tsx
  src/client/hooks/useKeyboardNavigation.ts
  src/client/styles/global.css
Due: check, format, knip, test

feat: add ability to mark an entire folder as reviewed from the file tree (#421)
  src/client/App.tsx
  src/client/components/FileList.test.tsx
  src/client/components/FileList.tsx
  src/client/hooks/useViewedFiles.test.ts
  src/client/hooks/useViewedFiles.ts
Due: check, format, knip, test

chore: release v5.0.6
  CHANGELOG.md
  package.json
Due: check, format, knip, test

ci: add Claude Code workflows for issue triage, PR review, and @claude mentions
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/claude.yml
Due: none

ci: review fork PRs via pull_request_target with base-ref checkout
  .github/workflows/claude-pr-review.yml
Due: none

feat(vscode): bundle difit into the extension instead of requiring a global install
  .gitignore
  knip.json
  packages/vscode/.vscodeignore
  packages/vscode/README.md
  packages/vscode/build.mjs
  packages/vscode/package.json
  packages/vscode/src/extension.ts
  packages/vscode/src/modules.d.ts
  packages/vscode/src/open-stub.ts
  packages/vscode/src/server-entry.ts
  packages/vscode/src/watcher-shim.ts
  packages/vscode/tsconfig.json
  pnpm-lock.yaml
  src/cli/utils.ts
  src/server/file-watcher.ts
Due: check, format, knip, test

feat(vscode): bundle difit into the extension instead of requiring a global install (#423)
  .gitignore
  knip.json
  packages/vscode/.vscodeignore
  packages/vscode/README.md
  packages/vscode/build.mjs
  packages/vscode/package.json
  packages/vscode/src/extension.ts
  packages/vscode/src/modules.d.ts
  packages/vscode/src/open-stub.ts
  packages/vscode/src/server-entry.ts
  packages/vscode/src/watcher-shim.ts
  packages/vscode/tsconfig.json
  pnpm-lock.yaml
  src/cli/utils.ts
  src/server/file-watcher.ts
Due: check, format, knip, test

ci(vscode): publish the extension to the Marketplace on difit releases
  .github/workflows/publish-vscode.yml
  packages/vscode/README.md
Due: none

ci(vscode): use Entra ID secure publishing instead of a Marketplace PAT
  .codex/skills/vscode-release/SKILL.md
  .codex/skills/vscode-release/agents/openai.yaml
  .github/workflows/publish-vscode.yml
  packages/vscode/README.md
Due: none

fix(vscode): publish as the existing yoshiko-pg.difit extension ID
  .github/workflows/publish-vscode.yml
  packages/vscode/package.json
Due: format

fix: SKILL.md staging -> staged
  skills/difit-review/SKILL.md
Due: none

fix: SKILL.md staging -> staged (#427)
  skills/difit-review/SKILL.md
Due: none

feat(cli): add comment resolve verb to remove threads via CLI
  src/cli/comment.test.ts
  src/cli/comment.ts
  src/server/server.test.ts
  src/server/server.ts
Due: check, format, knip, test

feat(client): render comment bodies as markdown
  package.json
  pnpm-lock.yaml
  src/client/components/CommentBodyRenderer.test.tsx
  src/client/components/CommentBodyRenderer.tsx
  src/client/utils/markdownUtils.ts
  src/client/viewers/MarkdownDiffViewer.tsx
Due: check, format, knip, test

feat(client): replace resolve/delete browser confirm() with inline confirmation UI
  src/client/components/CommentThreadCard.test.tsx
  src/client/components/CommentThreadCard.tsx
Due: check, format, knip, test

refactor(cli): collect resolve errors per thread and dedupe connection error handling
  src/cli/comment.test.ts
  src/cli/comment.ts
Due: check, format, knip, test

fix(client): consume Escape in inline confirmation and extract useClickOutside hook
  src/client/components/CommentThreadCard.test.tsx
  src/client/components/CommentThreadCard.tsx
  src/client/components/CommentsDropdown.tsx
  src/client/hooks/useClickOutside.ts
Due: check, format, knip, test

fix(client): address review feedback on comment markdown rendering
  src/client/components/CommentBodyRenderer.test.tsx
  src/client/components/CommentBodyRenderer.tsx
  src/client/viewers/NotebookDiffViewer.tsx
Due: check, format, knip, test

feat(cli): add `comment resolve` verb to remove threads via CLI (#428)
  src/cli/comment.test.ts
  src/cli/comment.ts
  src/server/server.test.ts
  src/server/server.ts
Due: check, format, knip, test
