Repository yoshiko-pg/reviewit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lint:
  run: npm run lint:fix
  stage_fixed: true
  fail_text: Linting failed. Please fix the issues and try again.

format:
  run: npm run format
  stage_fixed: true
  fail_text: Code formatting failed. Please check the issues and try again.

typecheck:
  run: npm run typecheck
  fail_text: TypeScript compilation failed. Please fix type errors and try again.

test:
  run: npm test
  fail_text: Tests failed. Please fix failing tests and try again.

fix: remove cursor animation and simplify highlighting
  src/client/styles/global.css
Due: format

fix: improve keyboard cursor visibility with z-index and \!important
  src/client/styles/global.css
Due: format

fix: improve cursor highlighting for table rows in inline mode
  src/client/styles/global.css
Due: format

docs: add Japanese README (README.ja.md)
  README.ja.md
Due: none

fix: inline mode cursor highlighting and unify keyboard cursor styles
  src/client/components/SideBySideDiffChunk.tsx
  src/client/styles/global.css
Due: lint, format, typecheck, test

refactor: simplify code and remove unnecessary features
  src/client/App.tsx
  src/client/components/DiffViewer.tsx
  src/client/constants/navigation.ts
  src/client/hooks/useKeyboardNavigation.ts
Due: lint, format, typecheck, test

refactor: simplify keyboard shortcut handling with early return
  src/client/hooks/useKeyboardNavigation.ts
Due: lint, format, typecheck, test

feat: add Shift+C keyboard shortcut to copy all comments prompt
  src/client/App.tsx
  src/client/components/HelpModal.tsx
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.ts
Due: lint, format, typecheck, test

feat: skip collapsed files during keyboard navigation and display help modal in 2 columns
  src/client/App.tsx
  src/client/components/HelpModal.tsx
  src/client/hooks/keyboardNavigation/navigationFilters.ts
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.test.ts
  src/client/hooks/useKeyboardNavigation.ts
Due: lint, format, typecheck, test

docs: add Japanese language link to README
  README.md
Due: none

docs: update README with improved descriptions and Japanese version sync
  README.ja.md
  README.md
Due: none

docs: add Chinese and Korean README translations with cross-links
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
Due: none

format
  README.ko.md
  README.md
  README.zh.md
Due: none

README i18n (#56)
  README.ja.md
  README.ko.md
  README.md
  README.zh.md
Due: none

feat: Add Gerrit-style keyboard navigation (#54)
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/HelpModal.test.tsx
  src/client/components/HelpModal.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/constants/navigation.ts
  src/client/hooks/keyboardNavigation/helpers.ts
  src/client/hooks/keyboardNavigation/index.ts
  src/client/hooks/keyboardNavigation/navigationCore.ts
  src/client/hooks/keyboardNavigation/navigationFilters.ts
  src/client/hooks/keyboardNavigation/scrollUtils.ts
  src/client/hooks/keyboardNavigation/types.ts
  src/client/hooks/useKeyboardNavigation.test.ts
  src/client/hooks/useKeyboardNavigation.ts
  src/client/styles/global.css
  src/client/utils/domUtils.ts
Due: lint, format, typecheck, test

chore: release v2.0.11
  CHANGELOG.md
  package.json
Due: lint, format, typecheck, test

feat: Add support for @ symbol as Git HEAD alias
  README.md
  src/cli/utils.test.ts
  src/cli/utils.ts
Due: lint, format, typecheck, test

feat: Add stdin support for reading unified diffs
  README.md
  src/cli/index.ts
  src/server/git-diff.test.ts
  src/server/git-diff.ts
  src/server/server.ts
Due: lint, format, typecheck, test

refactor: use optional chain
  src/client/components/DiffChunk.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

feat: Add support for @ symbol as Git HEAD alias (#57)
  README.md
  src/cli/utils.test.ts
  src/cli/utils.ts
Due: lint, format, typecheck, test

refactor: use optional chain (#59)
  src/client/components/DiffChunk.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

fix: handle empty files in keyboard navigation
  src/client/hooks/keyboardNavigation/navigationCore.ts
  src/client/hooks/useKeyboardNavigation.test.ts
Due: lint, format, typecheck, test

feat: Add word detection utilities with tests
  src/client/components/EnhancedPrismSyntaxHighlighter.test.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/hooks/useWordHighlight.test.ts
  src/client/hooks/useWordHighlight.ts
  src/client/utils/wordDetection.test.ts
  src/client/utils/wordDetection.ts
Due: lint, format, typecheck, test

feat: Add CSS styles for word highlighting
  src/client/styles/global.css
Due: format

feat: Integrate word highlighting into diff viewer
  src/client/components/DiffLineRow.tsx
Due: lint, format, typecheck, test

feat: Add word highlighting feature with global state
  src/client/App.tsx
  src/client/components/DiffLineRow.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.test.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/contexts/WordHighlightContext.tsx
  src/client/hooks/useWordHighlight.ts
Due: lint, format, typecheck, test

fix: Restore syntax highlighting while preserving word highlighting
  src/client/components/DiffLineRow.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/contexts/WordHighlightContext.tsx
Due: lint, format, typecheck, test

refactor: Minimize duplication by extending PrismSyntaxHighlighter
  src/client/components/EnhancedPrismSyntaxHighlighter.test.tsx
  src/client/components/EnhancedPrismSyntaxHighlighter.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
Due: lint, format, typecheck, test

feat: add CLI support for watch mode and diff mode detection
  src/cli/index.ts
  src/server/server.ts
  src/types/watch.ts
Due: lint, format, typecheck, test

feat: implement FileWatcherService with @parcel/watcher
  .claude/specs/hot-reload/design.md
  .claude/specs/hot-reload/requirements.md
  .claude/specs/hot-reload/tasks.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/server/file-watcher.ts
  src/server/server.ts
Due: lint, format, typecheck, test

feat: redesign ReloadButton to match GitHub's review interface
  src/client/App.tsx
  src/client/components/ReloadButton.tsx
Due: lint, format, typecheck, test

chore: remove verbose file watcher logs
  src/server/file-watcher.ts
  src/server/server.ts
Due: lint, format, typecheck, test

feat: integrate React ReloadButton with file watching system
  src/client/App.tsx
  src/client/components/ReloadButton.tsx
  src/client/hooks/useFileWatch.ts
Due: lint, format, typecheck, test

fix: implement smart cache invalidation for file watcher
  src/client/hooks/useFileWatch.ts
  src/server/file-watcher.ts
  src/server/server.ts
Due: lint, format, typecheck, test

fix: improve diffMode determination for HEAD comparison scenarios
  src/cli/index.ts
Due: lint, format, typecheck, test

refactor: simplify cache invalidation using null check
  src/server/server.ts
Due: lint, format, typecheck, test

fix: resolve file watching error by watching directories instead of files
  src/server/file-watcher.ts
Due: lint, format, typecheck, test

feat: enable commit watching in DOT mode and remove specs
  .claude/specs/hot-reload/design.md
  .claude/specs/hot-reload/requirements.md
  .claude/specs/hot-reload/tasks.md
  src/server/file-watcher.ts
Due: lint, format, typecheck, test

style: change ReloadButton color to orange
  src/client/components/ReloadButton.tsx
Due: lint, format, typecheck, test

style: change ReloadButton color to darker orange
  src/client/components/ReloadButton.tsx
Due: lint, format, typecheck, test

Path conditions:
  lint: any of: *.{ts,tsx}, src/**/*.{ts,tsx}, package.json, eslint.config.mjs
  format: any of: *.{ts,tsx,js,jsx,json,css}, src/**/*.{ts,tsx,js,jsx,json,css}, .prettierrc
  typecheck: any of: *.{ts,tsx}, src/**/*.{ts,tsx}, package.json, tsconfig.json, tsconfig.*.json
  test: any of: src/**/*.{ts,tsx}, package.json, vitest.config.ts
